<style>
    body {
      background: #fff;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: auto;
      height: 450px;
    }
</style>

 <!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <!-- Slides -->
        {{#each photos}}
        <img class="swiper-slide" src="{{imageUrl}}" alt="Cloudinary Image">
        {{/each}}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>